{% extends 'base.html.twig' %}

{% block nav %}

{{ parent() }}

{% endblock %}
{% block body %}

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="name">Edit Profile</h2>
          <div class="row" >
            <div class="col-lg-12">

            <p>Inserire il form per cambiare il profile</p>


              
            </div>
            }
            }
          </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}

{% block footer %}

{{ parent() }}

{% endblock %}
