
                      <h3>Working methods</h3>
                      <p>
                        The grooming service includes care and maintenance of the sanitary area as well as the cleaning of the paws to prevent any infections and knots for a good locomotion.
                        Each instrument used is sterilized at each step.
                        For the bath, the water is adjusted to 38 ° C, the ideal temperature for the dog.
                        Each breed has its own appropriate shampoo.

                      </p>

                      <h3>Products</h3>


                      <p>
                        Here are the <a href="http://www.laboratoire-diamex.be/index.php?v_cat=1&v_page=0&v_l=3" target="_blank" >DIAMEX </a> products that I use:

                        Mild shampoo with essential oils for sensitive skin.
                        Shampoo anti nodes.
                        Dry shampoo.
                        Easy white: specific shampoo for white-haired dogs.
                        Goudron: dogs with dandruff.
                        Terrier: for wire-haired dogs.
                        Shampoo anti fleas.
                        Universal: Shampoo with fruit extracts.
                        Mister fresh: fresh shampoo anti-allergenic.
                      </p>
                      <h3> Specific Products</h3>

                      <p>
                        Delicate spray for sensitive skin.
                        Cleaning Ears: sweet solution with essential oils.
                        Hydranil for eye care.
                        Each scent used is hypoallergenic.
                      </p>

                      <h3> Basic Rules</h3>

                      <p>
                        I receive by appointment only , in  case of more than 20 minutes of  late your appointment will be canceled for the respect of the other customers.
                        For cancellation please call at least 24 hours in advance.
                        It is advisable to leave the dog in the salon for a better performance and job security.

                      </p>

                      <h3> Call Me</h3>

                      <p>You will be surprised how competitive our prices are. In fact chargers starts from 30 euro </p>
                      <p>To arrange a consultation or for a comprehensive list of prices and services available, please call 0483 04 32 88 or visit our shop at Rue de l'Aqueduc 53, 1060 Brussels.</p>
                      <p> Languages spoken: English, French, Italian.</p>